*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas{
    border: 2px solid steelblue;
    background-color: #fff;
}

.toolbox{
    background-color: steelblue;
    border: 1px solid slateblue;
    display: flex;
    width: 900px;
    padding:1rem;
}

.toolbox > *{
    background-color: #fff;
    border: none;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.toolbox .undo{
    transform:scale(-1);
}

.toolbox > *:last-child{
    margin-left: auto;
}