body {
    font-family: Arial, sans-serif;
    
  }
  
  h1 {
    text-align: center;
  }
  h3{
    padding-left: 5%;
  }
  form {
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }

  .output{
/* 
    font-family: "Montserrat-Black";
	font-size: 3.5rem;
	line-height: 1.5; */
  text-align: center;
  }

  /* Navigation Bar */
.navbar-brand {
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 2.5rem;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}
#title {
	/* background-color: #ff4c68; */
  color: rgb(11, 3, 3);
  
	/*
	font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
	*/
}

#row{
  padding: 7% 15%;
	position: relative;
  
}

.h1 {
	font-family: "Montserrat-Black";
	font-size: 3.5rem;
	line-height: 1.5;
  text-align: center;
}
.line {
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: bold;
  /* text-align: center; */
  padding-left: 15%;
  position: relative;
}


#icons{

  padding-left: 20%;
}



/* Download Image */
.download_button {
	margin: 5% 3% 5% 0;
}


#testimonials {
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}




.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.big-heading{
  text-align: center;
  font-size: 3rem;
}

.risks_para{
   padding-top: 2%;
   padding-left: 5%;
   padding-right: 5%;
   /* padding-bottom: 2%; */
   /* margin: 15%; */

  }
  .button{
    text-align: center;
    padding: 7% 15%;
  }
.icons{
  text-align: center;
    padding: 7% 15%;
}
  #cta {
   
    text-align: center;
    padding: 7% 15%;
    /* font-size: 2rem;*/
  }

.lists{
  padding-left: 7%;
  padding-right: 7%;
}  

.form-label{
  font-size: large;
  font-weight: bold;
}

#footer{
  text-align: center;
    padding: 7% 15%;
}