html, body {
    height: 100%;
  }
  
  body {
    background-color: #6224b5;
    font-family: monospace;
    font-size: 1rem;
    display: grid;
    place-items: center;
    color: #fff;
  }
  
  div {
    background: rgb( 0 0 0 / 0.5 );
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }
  
  input {
    margin-left: 1rem;
  }