/* Google Fronts */
@import url('https://fronts.googleapis.com2?family=poppines');

/*  ==== Global ====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active{
    color: red;
    text-decoration: underline;
    font-size: bold;
}
body ,html{
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: wheat;
}
.nev-links {
    display: flex;
    align-items: center;
}
.nev-links li {
    margin: 0 30px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('./1.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-content {
    margin-bottom: 150px;
    color: wheat;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 3px;
    background-color: deeppink;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: wheat;
}


.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}                                      

/* Events */ 
 section{ 
    width: 90%;
    margin: 90px  auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: blueviolet;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;                          
      
    }                     

.row .col  {
    display: flex;
    flex-direction: column;
    align-items:center;                              
}
.events .row {
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
} 
p{
    color: #7c7c7c;
} 
.events .ctn{
    margin-top: 30px;
}  
.explore { 
    width: 100%;
    height: 100vh;
    background-image: url('./5.jpg');   
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;   
    display: flex;  
    align-items: center;                    
 } 
 .explore-content{
    width: 60%;
    padding: 50px;
    color: blueviolet;
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .explore-content h1 {
    font-size: 7vmin;
 }
 .explore-content .line{
    margin-bottom: 50px;
 }
 .explore-content p {
    color: chocolate;
 }
 .explore-content .ctn {
    margin-top: 40px;
 }
 .tours .row .col {
    width: 50%;
 }
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
}
.image-gallery img {
    width: 200px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: blueviolet;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;

}
/* Mobile device */
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .nev-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(97, 192, 192);
         margin-top: -900px;   
         transition: all 0.5s ease;                                
    }
    .mobile-menu{ 
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }                              

    .nev-links li {
        margin: 30px auto;
    }
    /*Event*/
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    /*Explore*/
    .explore-content{
        width: 100%;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    .footer{
        padding: 25px;
    }
}

/*Animations*/
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px rgb(39, 8, 8);
}
li:hover{
    color: #fc036b;
    cursor: pointer;
}