/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Merriweather', serif; */
}
.container {
  min-height: 100vh;
  width: 100%;
  background: rgb(28, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 500px;
  height: 300px;
  color: #fff;
  cursor: pointer;
  perspective: 1000px;
}
.card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
}
.card_front,
.card_back {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgb(63, 63, 202),
    rgb(227, 142, 208),
    rgb(139, 19, 131)
  );
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.card-no {
  font-size: 36px;
  margin-top: 60px;
}
.card-name {
  font-size: 12px;
  margin-top: 40px;
}
.name {
  font-size: 14px;
  margin-top: 8px;
}
.bar {
  background: #222;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 10px;
  height: 60px;
}
.card-cvv {
  margin-top: 20px;
}
.card-cvv div {
  flex: 1;
}
.card-cvv img {
  width: 100%;
  display: block;
  line-height: 0;
}
.card-cvv p {
  background-color: #fff;
  color: #222;
  font-size: 22px;
  padding: 10px 20px;
}
.signature {
  margin-top: 80px;
}
.card_back {
  transform: rotateY(180deg);
}
.card:hover .card_inner {
  transform: rotateY(180deg);
}
